footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    color: white;
    font-weight: bold;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .heart {
        color: crimson;
    }

    .coffee {
        color: #d5a854;
    }
}
